body{
    background-image: url(hatterem3.jpg);
    color: white;
}
.jobbra{
    text-align: right;
}
.balra{
    text-align: left;
}
.kepj{
    float: left;
}
.kepb{
    float: right;
}
nav{
    background-color: gray;
    width: 80%;
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 20px;
}
cursor{
    cursor: auto;
}

.torol{
    clear: both;
}
p{
    text-align: justify;
}